<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">
  <title>Musical Instrument</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Custom styles for this template -->
  <link href="stylesheet.css" rel="stylesheet">


</head>

<body>

  <main role="main" class="container">
    <div class="container">
      <div class="row">
        <div class="col p-3">
          <form>
            <div class="form-group rounded border p-3 bg-light">
              <label for="exampleFormControlInput1">Song Name</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
          </form>
        </div>
        <div class="col p-3">
          <form>
            <div class="form-group rounded border p-3 bg-light">
              <label for="exampleFormControlInput1">BPM</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="100">
            </div>
          </form>
        </div>
        <div class="col p-3">
          <form>
            <div class="form-group rounded border p-3 bg-light">
              <label for="exampleFormControlInput1">Control</label>
              <button id="play-button" type="button" class="btn btn-primary form-control">Play</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col p-3">
          <pre>
            <code id="code" class="d-none">


            </code>
          </pre>
        </div>
      </div>
      <div class="row">
        <div class="col p-3">
          <audio-sequencer class="ensemble" id="drums" type="drums" title="Drums" pattern="// Primary # [----][xxxx][----][xxxx] # [xxxx][----][xxxx][----] # [xxx-][xxx-][xxx-][xxx-] ## // Seconday # [----][----][----][----] # [xxxx][----][xxxx][----] # [x-x-][x-x-][x-x-][x-x-] ## // Relax # [xxxx][xxxx][xxxx][xxxx] # [--xx][----][--xx][----] # [----][----][----][----] ## // Slowdown # [----][----][----][----] # [--xx][----][--xx][----] # [xxxx][xxxx][xxxx][xxxx] #" audio="/node_modules/ultrasonic/drum_bass_hard.flac # /node_modules/ultrasonic/bd_zome.flac # /node_modules/ultrasonic/drum_heavy_kick.flac"></audio-sequencer> </div>
        <div class="col p-3">
          <audio-sequencer class="ensemble" id="bass" type="bass" title="Bass" pattern="[----][----][----][----]\n[----][----][----][----]\n[----][----][----][----]\n[----][----][----][----]\n[----][----][----][----]\n"></audio-sequencer>
        </div>
      </div>
      <div class="row">
        <div class="col p-3">
          <audio-sequencer class="ensemble" id="chords" type="chords" title="Chords" pattern="[----][----][----][----]\n[----][----][----][----]\n[----][----][----][----]\n[----][----][----][----]\n[----][----][----][----]\n"></audio-sequencer>
        </div>
        <div class="col p-3">
          <audio-sequencer class="ensemble" id="melodies" type="melodies" title="Melodies" pattern="[----][----][----][----]\n[----][----][----][----]\n[----][----][----][----]\n[----][----][----][----]\n[----][----][----][----]\n"></audio-sequencer>
        </div>
      </div>
      <div class="row">
        <div class="col p-3">
        <div class="card">
          <div class="card-header">
            Notes
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="9"></textarea>
              </div>
            </form>
          </div>
        </div>
        </div>
      </div>
    </div>
  </main>
  <!-- /.container -->

  <!-- Player JavaScript ================================================== -->

  <script src="https://unpkg.com/tone"></script>
  <script src="https://unpkg.com/vue"></script>

  <script type="module">

    import audioSequencer from './modules/audio-sequencer/index.js';
    import play from './modules/audio-player/index.js';

    const ensemble = ['drums', 'bass', 'chords', 'melodies'];
    const song = {meta:{}, data:{}};

    ensemble.reduce(function(accumulator, currentValue, currentIndex, array) {
      accumulator.data[currentValue] = {instrument:[], sequence:[ /* NOTE: multiple sequences are stored here. */ ]};
      return accumulator;
    }, song);

    const updateSongDisplay = function(){
      const code = document.getElementById('code');
      code.innerHTML = JSON.stringify(song, null, '  ');
    }
    window.playSongDisplay = function(){
      const code = document.getElementById('code');
      play(JSON.parse(code.innerHTML))
    }


    const induceSave = function(){
      ensemble.forEach(function(instrumentName){
        const instrument = document.getElementById(instrumentName);
        instrument._wrapper.$refs.inner.save();
      });
    }

    window.onload = function(){


      const playButton = document.getElementById('play-button');
      playButton.addEventListener('click', function(o){
        induceSave();
        updateSongDisplay();
        playSongDisplay();
      });

      ensemble.forEach(function(instrumentName){
        const instrument = document.getElementById(instrumentName);

        instrument.addEventListener('updated', function(input){
          const data = input.detail[0];
          song.data[instrumentName].instrument = data.instrument;
          song.data[instrumentName].sequence = data.sequence; // NOTE: multiple sequences are stored here
          //updateSongDisplay();
          //induceSave();
          //play(song);
        });

        // instrument.addEventListener('changed', function(input){
        //
        //   ensemble.forEach(function(instrumentName){
        //     const instrument = document.getElementById(instrumentName);
        //     instrument._wrapper.$refs.inner.save();
        //   });
        //
        //   play(song);
        //   //play(song);
        // });


      });
      //induceSave();
   }

  </script>

  <!-- Bootstrap core JavaScript ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <!-- HTML Templates ================================================== -->
  <!-- audio-sequencer template placed in man page for customisability -->
  <template id="audio-sequencer">
    <div class="card" ref="foo">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"></link>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
      <div class="card-header">
        {{title}}
        <a class="float-right text-dark mx-1" v-on:click="expand()">
          <i class="fa fa-cog"></i>
        </a>
        <a class="float-right text-dark mx-1" v-on:click="save()">
          <i class="fa fa-save"></i>
        </a>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <pre><textarea class="form-control" id="exampleFormControlTextarea1" rows="9" v-model="sequence"></textarea></pre>
          </div>
        <div v-bind:style="{ display: expanded?'block':'none' }" id="collapseExample">
          <pre><textarea class="form-control" id="exampleFormControlTextarea1" rows="9" v-model="instrument">></textarea></pre>
        </div>
        </form>
      </div>
    </div>
  </template>

</body>

</html>
